$themeFontColor: white;
$themeBackgroundColor: #2a90af;
$themeBorderColor: #666666;
$themeFontSize: 18;

$fontColor: black;
$fontSize: 16;
$backGroundColor: white;

$headerHeight:40px;
$footerHeight:30px;
$navWidth:150px;
